*.jpg
*.png
epoch_*
*.txt
*.d2-net
*.pth
*.mp4
*.pyc
model_ours/checkpoints/*/*
checkpoints.zip
model_ours/checkpoints/*
model_ours/checkpoints_/*
Dataset/*
model_CLKN/checkpoints/*
model_ours/checkpoints/*
